@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

#root, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 5.5vh;
    word-wrap: break-word;
    color: whitesmoke;
}

p {
    font-size: 4.5vh;
    color: rgb(226, 226, 0);
}

a {
    font-size: 3.5vh;
    color: whitesmoke;
    transition: 0.7s;
}

a:hover {
    color: rgb(29, 161, 242);
    opacity: 1
}

.wrapper {
    width: 80%;
    text-align: center;
    margin: 1rem auto;
    max-width: 700px;
}

#new-quote {
   margin-left: 25px;
   font-size: 3.5vh;
}

